@import "colors";

$border: 1px solid $border-color;

html {
  height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e2e2e2;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  background-color: $themeBg;
}
#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
}
.fixed-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-app {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header {
  padding: 4px 10px;
  background-color: $theme;
  display: flex;
  min-height: 64px;
  color: $white;
  position: sticky;

  z-index: 10000;
  width: 100%;
  box-shadow: 0px 2px 10px grey;
  top: 0px;
  .search {
    margin: 8px 0 4px;
    width: 50%;
    min-width: 250px;
    border-bottom: solid 2px $white;
    display: flex;
    flex-direction: row;
    &_icon {
      margin: 5px 15px 5px 10px;
    }
    &_input {
      color: $white;
      width: 100%;
      border-width: 0px;
      background-color: transparent;
      outline: none;
      align-self: flex-end;
      margin-bottom: 6px;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white;
      opacity: 0.5; /* Firefox */
      font-weight: bold;
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $white;
      opacity: 0.5;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $white;
      opacity: 0.5;
    }
  }
  .search-wrapper {
    width: 100%;
  }
  &_icon {
    margin: 5px 10px;
    min-width: 14px;
  }
  .dropdown-link {
    padding: 0px 10px;
  }
}

.marginPadding {
  margin: 0;
  padding: 0;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: $themeBg, $alpha: 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

.Home {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 100;
  padding: 30px 8% 55px;
  .MatchesList {
    z-index: 1;
    width: 100%;
    // height: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 15px 0px;
    .app-container {
      width: 100%;
      display: flex;
      // padding-bottom: 15px;
    }
    .WindowScroller {
      width: 100%;
    }
  }
  &_loading {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &_filterBar {
    background-color: $theme;
    min-height: 50px;
    color: $white;
    &_form {
      margin: 0;
      min-width: 220px;
      .input {
        padding: 3px 10px;
        height: unset;
      }
    }
    .title {
      width: 100%;
      margin: 0px 20px;
      font-weight: bold;
    }
    .btn {
      display: flex;
      flex-direction: row;
      color: $white;
    }
    .description {
      min-width: 67px;
      text-align: end;
      padding-right: 7px;
    }
    .sort {
      margin-right: 20px;
    }
  }
  &_noResult {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .title {
      margin-top: 15px;
    }
  }
  &_body {
    background-color: $themeBg;
    flex: 1;
    align-items: unset;
    flex-wrap: wrap;
    &_title {
      margin: 12px 0px;
    }
    &_container {
      flex-wrap: wrap;
      align-items: unset;
      justify-content: flex-start;
    }
  }
}

.MatchCard {
  min-width: 160px;
  height: 140px;
  z-index: 100;
  box-shadow: 0px 2px 10px $zero-grey;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 3px solid $theme;
  display: flex;
  margin: 10px 0px;
  padding: 10px;
  flex-direction: row;
  &_imageView {
    width: 25%;
    max-width: 200px;
    padding: 10px;
    .teamImage {
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }
  &_detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .truncate-text {
      overflow: hidden;
      white-space: nowrap;
      max-width: 80%;
      text-overflow: ellipsis;
    }
    .venue {
      margin-top: 4px;
    }
  }
  &_price {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .value {
      color: $theme;
    }
  }
}
.dropdown-menu {
  .dropdown-item:active {
    background-color: $theme;
    color: $black;
    // background-color: unset;
    outline: none;
  }
  .active {
    color: $black;
    background-color: $theme;
    // background-color: unset;
  }
}

// override react virtualized styles
.ReactVirtualized__Table__headerRow {
  text-transform: none;
}

.ReactVirtualized__Table__row {
  border-top: 1px solid $table-border;

  &:nth-child(odd) {
    background-color: $table-striped-grey;
  }

  &:hover {
    background-color: $table-row-hover;
  }
}

.ReactVirtualized__Table__sortableHeaderColumn {
  color: $link;
}
.ReactVirtualized__Grid__innerScrollContainer {
  justify-content: center;
  outline: none !important;
}
.ReactVirtualized__Grid {
  outline: none !important;
}

// end override react virtualized styles

.predict-btn {
  width: 180px;
  max-height: 35px;
  overflow: hidden;
}
