@import "colors";

// mobile view - corresponds to bootstrap xs devices
@media (max-width: 767px) {
}

@media (max-width: 639px) {
  .Home {
    padding: 0;
  }
}

// small mobile
@media (max-width: 430px) {
  .app-container {
    width: 95%;
  }
  .Home_header .title {
    margin: 0;
  }
  .Home_body_container {
    justify-content: space-between;
  }
  .Home {
    padding: 0;
    &_filterBar_form {
      min-width: unset;
    }
  }
  .ItemDetail_body {
    padding: 10px;
    .title {
      margin-bottom: 20px;
    }
    &_row {
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
}

// ipad targeting
@media (min-width: 768px) and (max-width: 991px) {
}
